@charset "utf-8";

.header {
    margin: 20px;
    margin-top: 0;
}

.original {
    background-color: rgb(255, 255, 255);
    border-radius: 10vh;
    height: 7%;
    width: 96%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 01s ease, transform 01s ease, width 1s ease-in-out, height 3s ease-in-out;
    overflow: hidden;
    padding-left: 45px;
    padding-right: 15px;
}

.original .li-alterada {
    display: none;
}

.original svg {
    cursor: pointer;
}

.alterada {
    background-color: rgb(255, 255, 255);
    border-radius: 5vh;
    height: 85%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
    padding: 15px;
    padding-top: 20px;
    transition: background-color 01s ease, transform 01s ease, width .6s ease, height 2s ease;
    position: fixed;
}

.alterada .header {
    background-color: #12121222;
}

.alterada .li-alterada {
    display: block;
}

.alterada ul {
    display: flex;
    flex-direction: column;
}

.alterada .pesquisa {
    display: none;
}

.alterada .perfil img{
    animation: perfil 1.1s;
    animation-fill-mode: forwards;
    border-radius: 100%;
}

.alterada ul {
    animation: ul 1.1s;
    animation-fill-mode: forwards;
}

@keyframes perfil {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 52px;
        height: 52px;
    }
}

@keyframes ul {
    0% {
        font-size: 0.0em;
    }

    100% {
        font-size: 1.4em;
    }
}

ul {
    display: flex;
    flex-direction: row;
    transition: 1.5s ease-in-out;
    list-style: none;
    gap: 40px;
}

ul li {
    cursor: pointer;
}

.pesquisa  {
    display: flex;
    align-items: center;
    border: solid 1px #121212;
    border-radius: 100px;
    width: 40%;
    height: 85%;
    overflow: hidden;
}

.pesquisa svg {
    border-radius: 100%;
    background-color: #121212;
    padding: 13px;
    transition: 1s ease-in-out;
    margin-left: 0px;
}

.pesquisa input {
    border: none;
    border-radius: 100px;
    transition: 1s ease-in-out;
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
}

.perfil img{
    width: 52px;
    height: 52px;
    border-radius: 100%;
}